[user]
	name = Jason R. Coombs
	email = jaraco@jaraco.com
	signingkey = 708E6CB181B4C47E

[init]
	defaultBranch = main

[commit]
	template = ~/.stCommitMsg
	gpgsign = true

[tag]
	gpgSign = true

[url "https://github.com/"]
	insteadOf = gh://
[url "git@heroku.com:"]
	insteadOf = hk:
[url "https://gitlab.com/"]
	insteadOf = gl://
[url "https://bitbucket.org/"]
	insteadOf = bb://
[url "https://gist.github.com/"]
	insteadOf = gist://
[url "https://git.openstack.org/openstack/"]
	insteadOf = os://
[url "https://git.code.sf.net/p/"]
	insteadOf = sf://

[push]
	default = simple
	followTags = true
	autoSetupRemote = true

[alias]
	tags = tag --sort=-taggerdate
	lol = log --pretty=format:\"%C(green)%h %C(yellow)[%ad]%Cred%d %Creset%s%Cblue [%cn]\" --decorate --date=relative --graph
	atag = tag -a -m ""
	tag = atag

[core]
	excludesfile = ~/.gitignore_global
	symlinks = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[merge]
#	tool = opendiff
	tool = smerge
[pull]
	rebase = false

[mergetool "known-merge"]
	cmd = py -m jaraco.develop.merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	trustExitCode = true
[safe]
	directory = ~/code/python/importlib_resources
	bareRepository = explicit

[include]
	path = ~/.config/git/config
[includeIf "gitdir:code/privacymate/"]
	path = ~/pm/.gitconfig
[includeIf "gitdir:code/yg/"]
	path = ~/yg/.gitconfig
[includeIf "hasconfig:remote.*.url:sso://**"]
	path = config/google3/experimental/users/jaraco/config/.gitconfig
[includeIf "gitdir:Repos/"]
	path = /Repos/jaraco-config/.gitconfig
[advice]
	detachedHead = false
[rerere]
	enabled = true
[submodule]
	recurse = true
